* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f0da;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  gap: 100px;
}

.container-form {
  margin: 0 auto;
  background: #dabb52;
  width: 500px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label,
p {
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #fdf8ee;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #888;
  font-style: italic;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

select {
  height: auto;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #e64a19;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-container button img {
  width: 20px;
  height: 20px;
}

.container-table {
  margin: 0 auto;
  width: 500px;
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;

  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

caption {
  background: #dabb52;
  padding: 20px;
}

thead {
  background: #ff7043;
  color: white;
}

thead th {
  padding: 12px;
  font-size: 18px;
}

tbody tr:nth-child(even) {
  background: #fdf8ee;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tbody th,
tbody td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background: #ffccbc;
}
